# Default ignored files
*.iml
.gradle
local.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild/
*.apk
output.json
.cxx/
*.log
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

*.jks
*.keystore
